@import url('https://fonts.googleapis.com/css?family=Lobster');
body {
  margin: 0;
  padding: 0;
}
a {
  cursor: pointer;
  text-decoration: none;
}
footer a {
  cursor: pointer;
  color: #53CACE;
  text-decoration: none;
}
span {
  font-size: .75em;
  background-color: white;
  padding: 2px 5px;
  color: rgba(0,0,0,.6);
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  margin: 5px;
}
h1 {
  color: rgba(0,0,0,.7);
  font-weight: 900;
  font-size: 2.7em;
}
#user-pic img {
  border-radius: 25px;
}
span:hover {
  color: #53CACE;
}
#user-pic {
  float: right;
}
header span {
  font-family: 'Lobster', cursive;
}
.side-content {
  float: left;
  width: 10%;
  height: 100%;
  display: list-item;
  border: 2px solid grey;
}
